<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Starter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Starter.Properties.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value>D:\CS_Projects\ClientServer\Server2\bin\Debug\Server2.exe</value>
            </setting>
            <setting name="ClientPath" serializeAs="String">
                <value>D:\CS_Projects\ClientServer\Client2\bin\Debug\Client2.exe</value>
            </setting>
        </Starter.Properties.Settings>
    </userSettings>
</configuration>